body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEE6E3
}

main {
    width: 80%;
    margin: 20px auto;
}
#banner-principal {
    width: 100%;
    box-sizing: border-box;
    > img {
        width: 100%;
    }
}
#main-inside {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#gridPinicial {
    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.especialidade {
    /* border: 1px solid black; */
    padding: 5px;
    text-align: justify;
    background-color: #EEE6E3;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px;
}
