#banner-clinica {
    width: 80%;
    height: 80vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 20px auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    h1 {
        text-align: center;
    }
}
main {
    width: 80%;
    margin: 20px auto;
}
@media screen and (max-width: 600px) {
    #banner-clinica {
        flex-direction: column;
        width: 90%;

        height: auto;
        > img {
            object-fit: contain;
        }
    }
}