
main {
    width: 80%;
    margin: 20px auto;
}
.title {
    margin: 0;
    text-align: center;
}

#banner-principal {
    width: 100%;
    box-sizing: border-box;
    > img {
        width: 100%;
    }
}
#main-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    #psicologa {
        width: 60%;
        img {
            width: 100%;
        }
    }
}
#gridPrincipal {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.icons {
    width: 50px;
    margin: auto;
    > img {
        width: 100%;
    }
}
.especialidade {
    /* border: 1px solid black; */
    padding: 5px;
    text-align: justify;
    background-color: #d8eacc;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px;
}
@media screen and (max-width: 600px) {

    main {
        width: 90%;
        margin: auto;
        padding: 0;
    }
    #gridPrincipal {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .especialidade {
        border: 1px solid black;
        width: 95%;
        margin: auto;
    }
    .icons {
        width: 30px;
    }
    
}
