body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff5f0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    /* width: 100vw; */
    height: 20vh;
    padding: 0 10%;
    /* color: #664639; */
    color: #c98d71;
    background-color: white;
    > h1 {
        > a {
            text-decoration: none;
            color: inherit;
        }
    }
    > div {
        width: 70px;
        border-radius: 50%;
        >a img {
            width: 100%;
            border-radius: 50%;
        }
    }
}
#psicologa {
    /* box-sizing: border-box; */

    position: relative;
    width: 80%;
    margin: 5px auto;
    box-sizing: border-box;
    
    margin-bottom: 20px;
    > img {
        width: 100%;
        
        border-radius: 10px;
        box-shadow: 1px 1px 8px 8px rgb(173, 166, 166);
    }
    #insidePhoto {
        position: absolute;
        border-radius: 10px;
        top: 0;
        left: 0;
        width: 97.6%;
        height: 96%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        color: white;
        padding: 10px;
        > h2 {
            width: 50%;
        }
        > p {
            width: 60%;
            /* margin: 5px; */
        }
    }
}